@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #FEFAE0;     /* latar utama */
  --foreground: #171717;     /* teks utama */

  --color-primary: #D4A373;  /* aksen utama */
  --color-secondary: #CCD5AE;
  --color-accent: #FAEDCD;
  --color-light: #E9EDC9;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

:root {
  --background: #fefae0;
  --foreground: #283618;
}

.dark {
  --background: #1a1a1a;
  --foreground: #eaeaea;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
